---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";

const identity = {
    firstName: "John",
    country: "United States",
    occupation: "Automation Engineer",
    hobbies: ["Coding", "Reading", "Traveling"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Python"];
---

<BaseLayout title={title}>
    <h1>About me</h1>
    <h2>... and my new Astro blog!</h2>
    <p>I am working through the Astro docs to create a blog.</p>
    <p>I will update this page as I complete the tutorial.</p>

    <p>Here are some facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}</li>
        <li>
            I live in {identity.country} where I work as a {identity.occupation}
        </li>
        {
            identity.hobbies.length > 1 && (
                <li>My hobbies are {identity.hobbies.join(", ")}</li>
            )
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
